@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    position: relative;
    max-width: 768px;
    margin-left: 200px;
    padding-left: 30px;
    padding-right: 30px;
    background: url(assets/background.png);
}

#header {
    margin-top: 40px;
    text-align: left;
}

#header::after {
    display: block;
    position: absolute;
    content: "Wednesdays @ 5pm in Davis 338A";
    position: absolute;
    right: 30px;
    top: -10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Abel", sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 -1px 1px #ff2338;
    color: white;
    background-color: #ff4557;
    border: 2px dashed white;
    box-shadow: 0 3px 0 #ff2338, 0 5px 2px #222222;
    transform: rotateZ(5deg);
}

#author {
    font-family: "Abel", sans-serif;
    font-size: 1em;
    text-shadow: 0 -1px 1 black;
    color: #b5f1e5;
}

#preamble {
    margin-top: 15px;
    padding: 10px 0;
}

#preamble p {
    font-size: 1.5em;
    text-indent: 0em;
    margin-bottom: 30px;
}

.hero-link {
    font-size: 1.5em;
    display: block;
    text-align: center;
    text-indent: 0;
    width: 100%;
}

.hero-link a {
    display: inline-block;
    width: 100%;
    color: #DDDDDD;
    background: #ff4557;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0 2px 0 #222222;
}

.hero-link a:hover {
    box-shadow: none;
    position: relative;
    top: 2px;
}

.hero-link a:active {
    box-shadow: 0 -2px 0 #222222;
    top: 4px;
}

.hero-message {
    font-size: 1.5em;
    display: block;
    text-align: center;
    margin: 15px 0;
}

h1, h2, h3, h4, #toctitle {
    font-family: "Abel", sans-serif;
    color: #b5f1e5;
}

h1 {
    font-size: 100px;
    text-shadow: -1px -1px 0 #222222, 0 -2px 0 #222222;
}

h2 {
    font-size: 32px;
    text-shadow: 0 -1px 0 #222222, 0 -2px 0 #222222;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #222222;
    box-shadow: 0 5px 0 #ff4557;
}

h3 {
    font-size: 24px;
    text-shadow: 0 -1px 0 #222222;
    margin-top: 30px;
}

#toc {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.5);
}

#toc #toctitle {
    padding: 0 5px;
    font-size: 32px;
    text-shadow: 0 -1px 1px black;
    padding-top: 90px;
    background: #222222;
}

#toc .toclevel1 {
    width: 100%;
}

#toc .toclevel1 a {
    color: #ff4557;
    background-color: #222222;
    font-family: "Ubuntu", sans;
    font-size: 0.75em;
    text-decoration: none;
    padding: 3px 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

#toc .toclevel1 a:hover {
    color: white;
    background-color: #ff4557;
}

.sect1 {
    margin-bottom: 120px;
}

.admonitionblock {
    font-family: "Ubuntu", sans;
    font-size: 1em;
    color: #DDDDDD;
    text-shadow: 0 1px 1px black;
    line-height: 1.5em;
    margin: 10px;
    padding: 10px;
}

.admonitionblock td {
    padding: 10px;
}

.admonitionblock .content {
    border-left: 2px solid #ff3558;
}

p a {
    color: #ff4557;
    text-decoration: none;
}

p, .quoteblock {
    font-family: "Ubuntu", sans;
    font-size: 1em;
    line-height: 1.5em;
    text-shadow: 0 1px 1px black;
    color: #DDDDDD;
    text-indent: 2em;
}

.quoteblock {
    margin-top: 2em;
    margin-left: 5em;
    margin-bottom: 3em;
    padding-left: 1em;
    padding-right: 6em;
    text-indent: 0;
    border-left: 2px solid #ff4557;
}

.quoteblock .content {
    font-style: italic;
}

.quoteblock .attribution {
    text-align: right;
}

.listingblock, .monospaced {
    font-family: "Inconsolata", serif;
    color: #EEEEEE;
    font-size: 1em;
}

.listingblock {
    padding: 10px 10px;
    margin: 1em 2em;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
    box-shadow: none;
    background: #222222;
    border: 1px solid black;
    border-radius: 5px;
}

ul {
    list-style: none;
}

.monospaced {
    background: #222222;
    padding: 0 4px;
}

.outline-2 {
    margin-top: 60px;
}

#footer {
    margin-top: 90px;
    margin-bottom: 30px;
    color: #DDDDDD;
    font-family: "Ubuntu", sans;
    font-size: 1em;
    text-shadow: 0 1px 1px black;
}
